include ../bemto/bemto.pug

button(type="button").totop.js-totop

+b.FOOTER.footer
  .container
    +e.P.copy © ООО «Пегас», 2018
    +e.dextra(href="https://www.dextra.ru/", target="_blank")
      span dextra
      | Разработка<br>сайта