+b.HEADER.header
  +e.logo(href="#")
    +e.logo-img(src="img/logo.png")
  +e.ASIDE.side
    +b.NAV.socials
      +e.href(href="https://vk.com/varniyapegas", target="_blank", data-type="vk")
      +e.href(href="https://www.instagram.com/varniyapegas_zlat/", target="_blank", data-type="inst")
      +e.href(href="#", target="_blank", data-type="fb")
    +e.button.js-burger(type="button", aria-label="открыть мобильное меню")
      +e.SPAN.button-meat
    +e.SPAN.shadow