+b.HEADER.header
  +e.logo(href="#")
    +e.logo-img(src="img/logo.png")
  +e.ASIDE.side
    +b.NAV.socials
      +e.href(href="https://vk.com/varniyapegas", target="_blank", data-type="vk")
      +e.href(href="https://www.instagram.com/varniyapegas_zlat/", target="_blank", data-type="inst")
      +e.href(href="#", target="_blank", data-type="fb")
    +e.button.js-burger(type="button", aria-label="открыть мобильное меню")
      +e.SPAN.button-meat
    +e.DIV.shadow
      nav.nav
        ul.nav__list
          li.nav__item
            a(href="#").nav__link Пивоварня
              img(src="./img/nav/nav-1.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link История
              img(src="./img/nav/nav-2.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Каталог
              img(src="./img/nav/nav-3.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Партнерам
              img(src="./img/nav/nav-4.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Отзывы
              img(src="./img/nav/nav-5.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Новости
              img(src="./img/nav/nav-6.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Контакты
              img(src="./img/nav/nav-7.png", alt="").nav__bg
          li.nav__item
            a(href="#").nav__link Магазины
              img(src="./img/nav/nav-8.png", alt="").nav__bg
