+b.HEADER.header
  +e.button.js-burger(type="button", aria-label="открыть мобильное меню")
    +e.SPAN.button-meat
  +e.SPAN.shadow
  +e.logo(href="#")
    +e.logo-img(src="img/logo.png")
  +b.NAV.menu
    +e.UL.list
      +e.item
        +e.href(href="#") Пивоварня
      +e.item
        +e.href.active(href="#") Каталог
      +e.item
        +e.href(href="#") Партнёрам
      +e.item
        +e.href(href="#") Новости
      +e.item
        +e.href(href="#") Магазины
      +e.item
        +e.href(href="#") Отзывы
      +e.item
        +e.href(href="#") Контакты