include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header

    +b.MAIN.content
      +e.bg._partners(style="background-image: url('img/products-bg.jpg')")

        .container
        
          +e.SPAN.dec7.decor_type6
          +e.SPAN.dec8.decor_type3
          +e.SPAN.dec9.decor_type4
          +e.SPAN.dec10.decor_type11

          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim /

          section.text
            h1 Пивоварня
            p «Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
            p В  состав объединения входят ООО «Пегас» и ООО «Пивоиндустрия». Исторически, предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских баллистических ракетных комплексов и в связи с решением советского правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.

          +b('section').about
            +e.carover
              +e.car.swiper-cointainer.js-about-car
                .swiper-wrapper
                  .swiper-slide
                    +e.img(src="img/about.jpg")
                    +e.content
                      +e('p').content-title «Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
                      +e.content-text(data-swiper-parallax="-100")
                        p В состав объединения входят ООО «Пегас» и ООО «Пивоиндустрия». Исторически, предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских баллистических ракетных комплексов и в связи с решением советского правительства, приступившего к изготовлению 
                  .swiper-slide
                    +e.img(src="img/about.jpg")
                    +e.content
                      +e('p').content-title 1111«Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
                      +e.content-text(data-swiper-parallax="-100")
                        p В состав объединения входят ООО «Пегас» и ООО «Пивоиндустрия». Исторически, предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских баллистических ракетных комплексов и в связи с решением советского правительства, приступившего к изготовлению 
                        p В состав объединения входят ООО «Пегас» и ООО «Пивоиндустрия». Исторически, предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских баллистических ракетных комплексов и в связи с решением советского правительства, приступившего к изготовлению 
              .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
          
          +b('section').employees
            +e('p').title Сотрудники
            +e.carover
              +e.car.swiper-cointainer.js-emp-car
                .swiper-wrapper
                  .swiper-slide
                    +e.content
                      +e('p').name Олег Стягин
                      +e('p').position Инженер-технолог
                      +e.text
                        p Предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объедкого правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.
                    +e('aside').imgover
                      +e.img(src="img/worker1.png")
                    +e.SPAN.dec1.decor_type7
                  .swiper-slide
                    +e.content
                      +e('p').name Игорь Лугин
                      +e('p').position Диспетчер по контролю
                      +e.text
                        p Предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объедкого правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.
                    +e('aside').imgover
                      +e.img(src="img/worker2.png")
              .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
    include layout/__footer
    include layout/__scripts