include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    +b.MAIN.content._confirm-age
      +b('section').confirm-age(style="background-image: url('img/confirm-age-bg.jpg');")
        +e('h1').title Подтвердите свой возраст
        +e('a')(href="#").btn.btn Да, мне есть 18
        +e('p').warning ЧРЕЗМЕРНОЕ УПОТРЕБЛЕНИЕ<br>АЛКОГОЛЯ ВРЕДИТ ВАШЕМУ ЗДОРОВЬЮ

    include layout/__footer
    include layout/__scripts
