include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    +b.MAIN.content
      +e.bg(style="background-image: url('img/products-bg.jpg')")
        .container.container--center
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim /
          h1.common__title История компании
          section.history
            .history__container
              span.content__dec15.decor.decor_type12
              span.content__dec14.decor.decor_type13
              span.content__dec16.decor.decor_type16
              .history__left
                h2(style="margin-bottom: 133px;") «Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
                p.history__custom-title Основание компании
                p В состав объединения входят ООО "Пегас" и ООО "Пивоиндустрия. Исторически, предприятие 
                  b основано в 1994г., 
                  | как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских  баллистических ракетных комплексов и в связи с  решением советского правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.
              .history__right.history__right--img
                img(src="./img/history-photo1.jpg", alt="").history__big-img
                img(src="./img/history-photo2.jpg", alt="", style="margin-top: -301px;").history__small-img
            .history__container(style="margin-bottom: 109px;")
              .history__left
                p.history__custom-title(style="margin-bottom: 0;") Передовые технологии -
                p.history__custom-title(style="margin-bottom: 11px; margin-left: 90px;") Традиционные рецепты
                img(src="./img/history-img1.png", alt="", style="margin-left: 96px")
              .history__right
                h2 Начало сотрудничества с технологическими институтами
                .history__ussr
                  p В сотрудничестве с научно-исследовательскими институтами страны, в области пивоварения и дрожжевого производства, инженерно-технический состав отдела испытаний,  создал уникальный производственный  участок по выпуску 
                    b высококачественного «живого» пива по традиционным технологиям и рецептам советского времени, 
                    | ставший удачным проектом по продвижению мини пивзаводов на постсоветском рыночном пространстве.  Именно это подразделение заложило основы существующих передовых технологий и традиций нашего предприятия.
                .history__w470
                  p
                    b Дальнейшее сотрудничество с предприятиями ВПК, позволило оснастить производство современным варочным порядком – основой которого стали два варочных бака емкостью по 3,5 куб.м.
            .history__container
              
              .history__left(style="padding-top: 9px")
                span.content__dec17.decor.decor_type17
                p
                  b Пивоварня Златоуста»,  сегодня – это новейший комплекс производственных зданий, со сложной коммуникационной инфраструктурой, системами пожаротушения и безопасности.
                p Особое внимание менеджмент предприятия уделяет маркетинговым исследованиям рынка сбыта и создает для этого самые благоприятные условия – вплоть, до 
                  b оснащения,на свои средства, оборудованием розлива пива из КЕГ, 
                  | торговых предприятий региона.
                .history__border-top
                  p
                    b В основе производства качественного пива, лежит политика его обеспечения высококачественным сырьем. Так, на современном этапе сложилось тесное сотрудничество с известными зарубежными поставщиками солода, с обеспечением современных условий его хранения и системы контроля качества. Применяемый в производстве гранулированный хмель, также поставляется европейскими производителями.
              .history__right
                span.content__dec18.decor.decor_type18
                img(src="./img/history-photo3.jpg", alt="").history__big-img.history__img_tablet
                img(src="./img/history-photo4.jpg", alt="", style="margin-top: -124px;").history__small-img
            .history__container(style="margin-bottom: 0;")
              .history__left(style="padding-top: 84px; width: 60%;")
                span.content__dec19.decor.decor_type19
                h2 Сырье для напитков
                p(style="padding-left: 100px") Источники воды, которая поступает из водохранилища по системе городского водоснабжения после многократной очистки, находятся в высокогорных участках Южно-Уральских хребтов и питая реку Ай, дают нам неоспоримое преимущество в производстве терпкого пива с тонким ароматом хмеля и хлеба.
              .history__ural
                p.history__custom-title(style="margin-bottom: 0;") Источники воды
                  br
                  | с Южно-Уральских хребтов
                img(src="./img/history-img2.png", alt="")
            img(src="./img/history-photo5.jpg", alt="").history__img.history__img_tablet
            +b.SECTION.awards.awards--inner
              .container.common__pad
                +e.P.title Наши награды
                +e.P.text Пиво, производимое нашим предприятием, неоднократно участвовало в  региональных выставках и отмечено большим количеством наград, что полностью подтверждает правильность политики руководства предприятия по организации его выпуска.
                +e.car.swiper-container.js-awards
                  .swiper-wrapper
                    .swiper-slide
                      +e.content
                        +e.P.name Пивной аукцион
                        +e.P.dsc Золотая медаль за пиво «Янтарь»
                        +e.P.info г.Санкт-Петербург, 2004 г. 
                      +e.img(src="img/award1.png")
                    .swiper-slide
                      +e.content
                        +e.P.name Пивная Ярмарка Сибири
                        +e.P.dsc Малая золотая медаль за пиво «Булатное»
                        +e.P.info г.Новосибирск, 2011 г.
                      +e.img(src="img/award2.png")
                    .swiper-slide
                      +e.content
                        +e.P.name Пивной аукцион
                        +e.P.dsc Золотая медаль за пиво «Изумруд темное»
                        +e.P.info г.Санкт-Петербург, 1999 г.
                      +e.img(src="img/award3.png")
            .history__container(style="margin-bottom: 0;")
              .history__left
                span.content__dec20.decor.decor_type20
                h2(style="margin-top: 0") Собственное сырье
                p Используя собственные производственные мощности, 
                  b предприятие выпускает для нужд пивоварни – солод карамелизованный темный 
                  | и  на реализацию – 
                  b толокно овсяное, ферментированное по традиционной старинной русской технологии, включающей в себя этап проращивания зерна, 
                  | таким образом, являясь в стране его единственным производителем.
              .history__right(style="padding-top: 10px;")
                img(src="./img/history-photo6.jpg", alt="").history__big-img
                img(src="./img/history-photo7.jpg", alt="", style="margin-top: -361px").history__small-img
    include layout/__footer
    include layout/__scripts
