include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header

    +b.MAIN.content
      +e.bg(style="background-image: url('img/products-bg.jpg')")
        .container.container--center
          span.content__dec5.decor.decor_type12
          span.content__dec14.decor.decor_type13

          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim /
          h1.common__title История компании
          section.history
            .history__container
              .history__left
                h2 «Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
                p.history__custom-title Основание компании
                p В состав объединения входят ООО "Пегас" и ООО "Пивоиндустрия. Исторически, предприятие
                  b основано в 1994г.,
                  | как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских  баллистических ракетных комплексов и в связи с  решением советского правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.
              .history__right
                img(src="", alt="").history__big-img
                img(src="", alt="").history__small-img

            .history__container
              .history__left
                p.history__custom-title Основание компании
                img(src="", alt="")
              .history__right
                h2 Начало сотрудничества с технологическими институтами
                .history__ussr
                  p В сотрудничестве с научно-исследовательскими институтами страны, в области пивоварения и дрожжевого производства, инженерно-технический состав отдела испытаний,  создал уникальный производственный  участок по выпуску
                    b высококачественного «живого» пива по традиционным технологиям и рецептам советского времени,
                    | ставший удачным проектом по продвижению мини пивзаводов на постсоветском рыночном пространстве.  Именно это подразделение заложило основы существующих передовых технологий и традиций нашего предприятия.
                p
                  b Дальнейшее сотрудничество с предприятиями ВПК, позволило оснастить производство современным варочным порядком – основой которого стали два варочных бака емкостью по 3,5 куб.м.

            .history__container
              .history__left
                p
                  b Пивоварня Златоуста»,  сегодня – это новейший комплекс производственных зданий, со сложной коммуникационной инфраструктурой, системами пожаротушения и безопасности.
                p Особое внимание менеджмент предприятия уделяет маркетинговым исследованиям рынка сбыта и создает для этого самые благоприятные условия – вплоть, до 
                  b оснащения,на свои средства, оборудованием розлива пива из КЕГ,
                  | торговых предприятий региона.
                .history__border-top
                  p
                    b В основе производства качественного пива, лежит политика его обеспечения высококачественным сырьем. Так, на современном этапе сложилось тесное сотрудничество с известными зарубежными поставщиками солода, с обеспечением современных условий его хранения и системы контроля качества. Применяемый в производстве гранулированный хмель, также поставляется европейскими производителями.

              .history__right
                img(src="", alt="").history__big-img
                img(src="", alt="").history__small-img
              
            .history__container
              .history__left
                h2 Сырье для напитков
                p Источники воды, которая поступает из водохранилища по системе городского водоснабжения после многократной очистки, находятся в высокогорных участках Южно-Уральских хребтов и питая реку Ай, дают нам неоспоримое преимущество в производстве терпкого пива с тонким ароматом хмеля и хлеба.

              .history__right
                p.history__custom-title Источники воды
                  br
                  | с Южно-Уральских хребтов
                img(src="", alt="")
            
            img(src="", alt="")

            +b.SECTION.awards.awards-inner
              .container.common__pad
                +e.P.title Наши награды
                +e.car.swiper-container.js-awards
                  .swiper-wrapper
                    .swiper-slide
                      +e.content
                        +e.P.name Пивной аукцион
                        +e.P.dsc Золотая медаль за пиво «Янтарь»
                        +e.P.info г.Санкт-Петербург, 2004 г. 
                      +e.img(src="img/award1.png")
                    .swiper-slide
                      +e.content
                        +e.P.name Пивная Ярмарка Сибири
                        +e.P.dsc Малая золотая медаль за пиво «Булатное»
                        +e.P.info г.Новосибирск, 2011 г.
                      +e.img(src="img/award2.png")
                    .swiper-slide
                      +e.content
                        +e.P.name Пивной аукцион
                        +e.P.dsc Золотая медаль за пиво «Изумруд темное»
                        +e.P.info г.Санкт-Петербург, 1999 г.
                      +e.img(src="img/award3.png")
                +e.toall.common__href(href="#") Все награды

            .history__left
              h2 Собственное сырье
              p Используя собственные производственные мощности,
                b предприятие выпускает для нужд пивоварни – солод карамелизованный темный
                | и  на реализацию –
                b толокно овсяное, ферментированноепо традиционной старинной русской технологии, включающей в себя этап проращивания зерна,
                | таким образом, являясь в стране его единственным производителем.
            .history__right
              img(src="", alt="").history__big-img
              img(src="", alt="").history__small-img

    include layout/__footer
    include layout/__scripts
