include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body.news.js-news
    include layout/__header

    +b.MAIN.content._news
      +e.bg(style="background-image: url('img/products-bg.jpg')")

        span.news__elem-tonext Листать ниже

        span.news__elem-color
        span(style="background-image: url('img/news-big.jpg')").news__elem-big.js-news-big

        +e.SPAN.dec4.decor_type7
        +e.SPAN.dec5.decor_type11
        
        .container

          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim /

          h1.news__elem-title Новый сорт пива совсем скоро поступит в продажу
          p.news__elem-subtitle Приглашаем всех любителей маунтинбайка принять участие в соревнованиях, проходящих в самых красивых горах Южного Урала — на Таганае...

          section.text.text_news
            img(src="img/text2.jpg")
            p 
              b Доброго Дня!
              br 
              | Приглашаем всех любителей маунтинбайка принять участие в соревнованиях, проходящихв самых красивых и техничных горах Южного Урала — на Таганае!
            p «Рипейский Солнцеворот» – это самая сложная всероссийская велосипедная многодневная гонка среди непрофессионалов и имеющая за плечами самую богатую историю. Маршрут пролегает через уникальные места — Откликной Гребень, Долина Сказок, Метео-Пик, Синегорье.
            p При разработке трасс, организаторы стараются максимально их разнообразить, чтобы дать участникам из разных городов страны и зарубежья возможность увидеть все живописные уголки Южного Урала.
            p Ну и конечно RS – это прекрасная возможность испытать свои силы и отлично провести время. Одним словом: Испытай себя, посмотри Урал! В 2013 году гонка пройдет с 07 по 12 июня.
            p 
              b Программа:
              br
              | 07 июня: День заезда команд. Регистрация
              br
              | 08 июня: Первый гоночный день — уникальные места хребта Уреньга (протяженность: 80 км, набор высоты: 1800 м)
              br
              | 09 июня: Второй гоночный день — самый красивый и техничный этап по осевым хребтам Национального Парка «Таганай» (протяженность: 78 км, набор высоты: 2500 м)
              br
              | 10 июня: Третий гоночный день — все самое лучшее, что было в RS-2010 (протяженность: 95 км, набор высоты: 2 300 м)
          p.news__elem-date 1 июня 2013

          +b.SECTION.news._other
            +e.UL.list
              +e.item
                +e.imgover(href="#")
                  +e.img.fit(src="img/news2.jpg")
                +e.content
                  +e.P.date 15 мая 2013
                  +e.href(href="#") 
                    span.js-shave(data-height="93") Новый сорт пива совсем скоро поступит в продажу
              +e.item
                +e.imgover(href="#")
                  +e.img.fit(src="img/news3.jpg")
                +e.content
                  +e.P.date 15 мая 2013
                  +e.href(href="#") 
                    span.js-shave(data-height="93") Мы обновили 50% нашего оборудования
          
          a(href="#").common__back Вернуться к списку новостей

    include layout/__footer
    include layout/__scripts