include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header

    +b.MAIN.content
      +e.bg(style="background-image: url('img/products-bg.jpg')")
        .container

          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim /

          section.text
            h1 Большой заголовок первого уровня в 1 или 2 строки
            p «Пивоварня Златоуста» - это два, юридически, самостоятельных предприятия объединенные в единое производство.
            p В  состав объединения входят 
              a(href="#") ООО «Пегас»
              |  и ООО «Пивоиндустрия». Исторически, предприятие основано в 1994г., как образцовое подразделение знаменитого производственного объединения «Златоустовский Машиностроительный завод» – участвовавшего в разработке и изготовлении морских баллистических ракетных комплексов и в связи с решением советского правительства, приступившего к изготовлению современного высококачественного оборудования – мини пивоварни.
            img(src="img/text.jpg")
            h2 Большой заголовок второго уровня, чтобы показать межстрочное расстояние
            p Приглашаем всех любителей маунтинбайка  принять участие в соревнованиях, проходящих в самых красивых и техничных горах Южного Урала.
            ul
              li 07 июня: День заезда команд. Регистрация
              li 08 июня: Первый гоночный день — уникальные места хребта Уреньга (протяженность: 80 км)
              li 09 июня: Второй гоночный день — самый красивый и техничный этап по осевым хребтам.
              li 10 июня: Третий гоночный день — все самое лучшее, что было в RS-2010 (протяженность: 95 км).
              li 11 июня: Четвертый гоночный день — окрестности озера Тургояк - жемчужины Южного Урала.
              li 12 июня: День отъезда
            h3 Большой заголовок третьего уровня, чтобы показать межстрочное расстояние
            p Место расположения Базового лагеря — спортивный центр «Ай» г. Златоуст на берегу реки Ай. Для любителей комфорта — в 2 км от лагеря — гостиница «Таганай» и «Бальмонд».
            ol
              li Из города Екатеринбурга будет организован трансфер до Базового лагеря. 
              li На расстоянии 5 км от лагеря находится жд. станция Златоуст — ЮУЖД.
              li Организаторы гонки: команда ProBike Team при содействии Министерства Спорта и Туризма.
            table
              thead
                tr
                  th Страна
                  th Столица
                  th Континент
                  th Население страны
              tbody
                tr
                  td Российская федерация
                  td Россия
                  td Азия
                  td 243 206
                tr
                  td Австрия
                  td Вена
                  td Европа
                  td 8 747 000
                tr
                  td Азербайджан
                  td Баку
                  td Азия
                  td 9 762 000
                tr
                  td Албания
                  td Тирана
                  td Европа
                  td 2 876 000
                tr
                  td Алжир
                  td Алжир
                  td Африка
                  td 40 610 000
                tr
                  td Ангола
                  td Луанда
                  td Луанда
                  td 28 810 000
            p Приглашаем всех любителей маунтинбайка принять участие в соревнованиях, проходящих в самых красивых и техничных горах Южного Урала.
            p Место расположения Базового лагеря — спортивный центр «Ай» г. Златоуст на берегу реки Ай. А для любителей комфорта — в 2 км от лагеря — гостиница «Таганай» и «Бальмонд».
        
    include layout/__footer
    include layout/__scripts
