doctype html
html
  head(lang="ru")
    include layout/__head
  body
    section.content
      section.container.container_text
        h1 Очень большой заголовок
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim / 
        .text
          p Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. Выдерживает нагрев до 150°С. Можно использовать в духовке до 180°С или даже до 200°С. Выдерживает нагрев до 150°С. Можно использовать в духовке до 180°С или даже до 200°С. Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. 
          img(src="img/news-inner.jpg")
          p Именно они создают ощущение настоящего гостеприимного дома, вкусного, уютного, куда хочется возвращаться. Они придают неповторимый шарм рабочему месту хозяйки, создают настроение праздника и подчеркивают ее индивидуальность. 
          p Итальянцы как никто разбираются в кухне и домашнем уюте. Поэтому такие мысли приходили к нему каждый раз, когда он садился за работу, и на его эскизах все чаще появлялись невероятные по красоте кухонные принадлежности.
          h2 Очень-очень большой заголовок второго уровня
          p Можно использовать в духовке до 180°С или даже до 200°С. Выдерживает нагрев до 150°С. Можно использовать в духовке до 180°С или даже до 200°С. Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. Выдерживает нагрев до 150°С. 
          ul 
            li размерный ряд 24 – 28 сантиметров,
            li вес 300 грамм,
            li объем 2 литра,
            li толщина стенок 3 милиметра,
            li материал корпуса – аллюминий,
            li срок службы 3 года,
            li материал ручки – бакелит,
            li дно сотовидное,
            li на 3-5 порций.
          p Они придают неповторимый шарм рабочему месту хозяйки, создают настроение праздника и подчеркивают ее индивидуальность. Итальянцы как никто разбираются в кухне и домашнем уюте. Поэтому такие мысли приходили к нему каждый раз, когда он садился за работу, и на его эскизах все чаще появлялись невероятные по красоте кухонные принадлежности. Именно они создают ощущение настоящего гостеприимного дома, вкусного, уютного, куда хочется возвращаться. Они придают неповторимый шарм рабочему месту хозяйки, создают настроение праздника и подчеркивают ее индивидуальность. 
          ol
            li размерный ряд 24 – 28 сантиметров,
            li вес 300 грамм,
            li объем 2 литра,
            li толщина стенок 3 милиметра,
            li материал корпуса – аллюминий,
            li срок службы 3 года,
            li материал ручки – бакелит,
            li дно сотовидное,
            li на 3-5 порций.
          p Итальянцы как никто разбираются в кухне и домашнем уюте. Поэтому такие мысли приходили к нему каждый раз, когда он садился за работу, и на его эскизах все чаще появлялись невероятные по красоте кухонные принадлежности.
          h3 Ну и самый-самый большой, аж в две строки, заголовок третьего уровня
          p Можно использовать в духовке до 180°С или даже до 200°С. Выдерживает нагрев до 150°С. Можно использовать в духовке до 180°С или даже до 200°С. Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. Особенность бакелитовой ручки в том, что она не нагревается и не скользит, обеспечивая удобный хват. Выдерживает нагрев до 150°С. 
          table
            tr
              td Размерный ряд
              td 24 – 28 сантиметров
            tr
              td Вес
              td 300 грамм
            tr
              td Объем
              td 2 литра
            tr
              td Толщина стенок
              td 3 милиметра
            tr
              td Материал корпуса
              td Аллюминий
            tr
              td Срок службы
              td 3 года
            tr
              td Материал ручки
              td Бакелит
            tr
              td Дно
              td Сотовидное
            tr
              td На сколько порций
              td 3-5 порций
          p Итальянцы как никто разбираются в кухне и домашнем уюте. Поэтому такие мысли приходили к нему каждый раз, когда он садился за работу, и на его эскизах все чаще появлялись невероятные по красоте кухонные принадлежности. Они придают неповторимый шарм рабочему месту хозяйки, создают настроение праздника и подчеркивают ее индивидуальность.
          p Итальянцы как никто разбираются в кухне и домашнем уюте. Поэтому такие мысли приходили к нему каждый раз, когда он садился за работу, и на его эскизах все чаще появлялись невероятные по красоте кухонные принадлежности. Именно они создают ощущение настоящего гостеприимного дома, вкусного, уютного, куда хочется возвращаться. Они придают неповторимый шарм рабочему месту хозяйки, создают настроение праздника и подчеркивают ее индивидуальность. 
    include layout/__footer
    include layout/__scripts