.feats
  min-height 700px
  pt 130px
  pb 62px
  @media $desktopMedium
    pt 107px
    min-height 640px
  @media $LandscapeMedium
    pt 77px
  @media $LandscapeMin
    pt 57px
  &__title
    font-family $cyr
    color white
    fontify 80px 400 52px
    transform rotate(-4deg)
    transform-origin 0 0
    mb 43px
    ml -8px
    @media $desktopMax
      fontify 60px 400 52px
    @media $LandscapeMedium
      fontify 50px 400 52px
    @media $LandscapeMin
      transform none
  &__content
    df()
    @media $LandscapeMax
      flex-direction column-reverse
  &__list
    w calc(50% + 15px)
    df()
    flex-wrap wrap
    mt 8px
    @media $LandscapeMax
      mt 0
      w calc(100% + 30px)
      ml -30px
  &__item
    pos relative
    w calc(50% - 30px)
    ml 30px
    mb 32px
    @media $LandscapeMin
      w calc(100% - 30px)
      pl 0
      mb 40px
  &__imgover
    h 45px
    dfv(flex-start, flex-end)
    mb 15px
  &__img
    max-width 90%
    max-height 100%
  &__text
    color white
    fontify 16px 400 24px
    max-width 250px
    @media $LandscapeMax
      fontify 14px 400 24px
    @media $LandscapeMin
      max-width none
    
.about
  w calc(50% - 15px)
  @media $LandscapeMax
    w 100%
    mt 30px
  &__text
    mb 35px
    
.awards
  overflow hidden
  background-color $cream
  background-position 0 100px
  background-repeat no-repeat
  background-size cover
  @media $desktopMedium
    background-position 0 220px
  @media $LandscapeMedium
    background-image none !important
  .container
    pt 77px
    pb 120px
    pos relative
    @media $desktopMedium
      pb 60px
    @media $LandscapeMedium
      pt 57px
  &__title
    color $dark
    fontify 50px 600 52px
    mb 41px
    ml -2px
    @media $LandscapeMedium
      fontify 30px 600 32px
  &__car
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled 
      opacity 0
      transition 0s opacity
    .swiper-slide
      dfv(flex-start, space-between)
      h auto
      padding 50px 44px 72px
      border-top 1px solid rgba(77, 77, 77, 0.06)
      border-right 1px solid rgba(77, 77, 77, 0.06)
      @media $desktopMax
        pl 49px
        pr 49px
        pt 46px
        pb 82px
      @media $desktopMin
        padding 32px 35px 60px
      @media $LandscapeMax
        w 45vw
      @media $LandscapeMedium
        w 70vw
        border-bottom 1px solid rgba(77, 77, 77, 0.06)
      @media $PortraitMax
        w 75vw
      @media $PortraitMedium
        w 82vw
      @media $PortraitMin
        w 90vw
      &:hover
        & ^[0]__img
          transform rotate3d(0, 1, 0, 360deg)
  &__name
    color $dark
    fontify 19px 600 24px
    mb 18px
    @media $LandscapeMax
      fontify 14px 600 24px
  &__dsc
    color $dark
    fontify 16px 400 24px
    mb 12px
    @media $LandscapeMax
      fontify 14px 400 24px
  &__info
    color alpha($dark, .7)
    fontify 14px 400 24px
    mb -8px
    @media $desktopMedium
      mb 12px
    @media $LandscapeMax
      fontify 12px 400 22px
  &__img
    db()
    mr 0
    ml auto
    max-width 100%
    will-change transform
    transition .7s transform
  &__toall
    pos absolute
    r 88px
    t 102px
    @media $desktopMedium
      r 47px
      t 103px
    @media $LandscapeMedium
      pos relative
      r auto
      t 0
      mt 30px
  &__dec1
    r 744px
    t -82px
    transform scale(.8)
    @media $desktopMedium
      r 30%
  .decor
    filter brightness(0%)