.contacts
  & + .text
    margin-top 35px

  &__filials
    & + .contacts__map
      margin-top 33px

  &__filial
    display flex
    flex-wrap wrap
    align-items flex-start
    width 100%
    margin-bottom 30px

    &:last-child
      margin-bottom 0

    &-info
      max-width calc(100% - 205px)
      margin-right 19px

      @media $LandscapeMax
        max-width 100%
        width 100%
        margin-right 0

    &-row
      display flex
      margin-bottom 8px

      @media $LandscapeMin
        flex-wrap wrap

      &:last-child
        margin-bottom 0

      &-title, &-data
        color #3b3b3b
        font-size 16px
        line-height 24px

      &-title
        flex-shrink 0
        font-weight 600
        min-width 120px
        margin-right 15px

        @media $LandscapeMin
          width 100%
          margin-right 0

      &-data
        font-weight 400

        @media $LandscapeMin
          width 100%

        address
          display block

      a
        &:not([href^='tel'])
          border-bottom 2px solid #FFC100
          transition border .7s

          &:hover
            border-bottom-color transparent

    &-position
      flex-shrink 0
      align-items flex-start
      margin-top -6px

      @media $LandscapeMax
        margin-top 20px

  &__map
    width 100%
    height 489px

.ymaps-2-1-72-copyrights-pane
  display none !important
