.feedback
  color white
  bgc $blue
  padding 58px 0 92px
  overflow hidden
  @media $LandscapeMedium
    pb 62px
  .container
    df()
    @media $LandscapeMax
      dfv()
  &__side
    w calc(100% / 3 - 15px)
    mr 30px
    @media $LandscapeMax
      w 100%
      mr 0
      mt 0
      mb 40px
  &__form
    w calc(200% / 3 - 15px)
    mt 21px
    .fakecheckbox
      max-width 56%
      @media $LandscapeMax
        max-width 70%
      @media $PortraitMax
        max-width 100%
    @media $LandscapeMax
      w 100%
  &__title
    color white
    fontify 45px 600 55px
    mb 26px
    max-width 290px
    @media $LandscapeMax
      fontify 40px 400 44px
    @media $LandscapeMedium
      fontify 30px 400 32px
      max-width none
  &__text
    max-width 350px
    @media $LandscapeMax
      max-width none
  &__sbm
    cursor pointer
    pos relative
    mr 22px
    color white
    fontify 15px 600 24px
    mt 8px
    border-bottom 2px solid $orange
    transition .7s border-color
    @media $PortraitMax
      mt 30px
    &:hover
      border-color transparent
    &:after
      content ""
      pos absolute
      r -22px
      t 9px
      size 13px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAMAAAAV+IX9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEX1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///+xruWAAAAAFHRSTlMAB+dYTvRwOe2MAXeIr6Cwi/XmVzVbsr0AAAABYktHRBXl2PmjAAAACXBIWXMAAAsSAAALEgHS3X78AAAANElEQVQI12NggABGJmYGJMDCyobMZefg5GLg5oEBXhE+JB4/kIekUoALYYogkimMQsJAEgBhggHwoXgoNgAAAABJRU5ErkJggg==') no-repeat center
    span
      pos absolute
      opacity 0
      visibility hidden
      r -22px
      t calc(100% + 20px)
      width 361px
      bgc #f5c017
      border-radius 2px
      color $dark
      fontify 13px 600 21px
      padding 18px 20px
      text-align left
      transition .7s opacity, .7s visibility
      &:before
        content ""
        pos absolute
        t -13px
        r 60px
        size 13px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAgMAAAAPhQzvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEX1wBf1wBf1wBf////omFKUAAAAAnRSTlMAf7YpoZUAAAABYktHRAMRDEzyAAAACXBIWXMAAAsSAAALEgHS3X78AAAALUlEQVQI1xXEQQEAMAgDsfJBRNVMDyqmB5VcH4kkPdSnTk5DtdTJaaiWOjkNHWXqD9qQOyxQAAAAAElFTkSuQmCC') no-repeat center
  &__dec1
    l -2px
    b -64px
    transform scaleX(-1)
  &__dec2
    l 328px
    t -115px
  &__dec3
    r 27px
    t -16px
