.news
  pos relative
  &_main
    pt 81px
    pb 34px
    @media $LandscapeMax
      pt 60px
  .container
    pos relative
  &__title
    color $dark
    fontify 60px 600 52px
    mb 45px
    ml -2px
    @media $LandscapeMax
      fontify 50px 600 52px
    @media $LandscapeMedium
      fontify 30px 600 32px
  &__list
    df()
    flex-wrap wrap
    ml -30px
    w calc(100% + 30px)
  &__item
    pos relative
    w calc(100% / 3 - 30px)
    ml 30px
    mb 50px
    overflow hidden
    @media $LandscapeMax
      w calc(100% - 30px)
    @media $LandscapeMax
      mb 0
      & + &
        mt 50px
    &_large
      @media $LandscapeMaxFrom
        w 100%
        h 390px
        df(center, flex-start)
        mb 50px
        & ^[0]__imgover
          pos absolute
          r 0
          t 0
          w 57%
        & ^[0]__href
          fontify 36px 600 46px
        & ^[0]__content
          w 43%
          pr 30px
          mt 0
  &__imgover
    db()
    w 100%
    pt 51%
    overflow hidden
    pos relative
    bgc #f3e7d5
    &_empty:before
      content ""
      pos absolute
      l 0
      t 0
      r 0
      b 0
      background url('../i/news-def.png') no-repeat center
      opacity .09
  &__img
    pos absolute
    l 0
    t 0
    size 100%
    object-fit cover
    font-family 'object-fit: cover;'
    transition .7s transform
    will-change transform
    -webkit-backface-visibility hidden
    transform scale(1.017) translateZ(0)
  &__item:hover &__img
    transform scale(1) translateZ(0)
  &__content
    pos relative
    z-index 1
    max-width 80%
    mt 20px
    @media $LandscapeMax
      mt 15px
  &__date
    c alpha($dark, .5)
    fontify 14px 400 24px
    @media $LandscapeMax
      fontify 13px 400 22px
  &__href
    c $dark
    fontify 19px 600 29px
    border-bottom 2px solid $orange
    transition .7s border, .7s color
    @media $LandscapeMax
      fontify 17px 600 26px
    &:hover
      color $orange
      border-color transparent
    & > span
      pos relative
      t 2px
  &__about
    c $dark
    fontify 16px 400 24px
    mt 25px
    @media $LandscapeMax
      dn()
  &__toall
    pos absolute
    r 86px
    t 30px
    @media $desktopMedium
      r 47px
    @media $LandscapeMax
      t 26px
    @media $LandscapeMedium
      pos relative
      r auto
      t 0
      mt 50px
  &__elem
    &-title
      color $dark
      fontify 50px 600 55px
      max-width 80%
      mb 19px
      ml -3px
      transition .7s color
      @media $LandscapeMedium
        fontify 30px 600 32px
        ml -2px
    &-subtitle
      color $dark
      fontify 19px 600 30px
      max-width 85%
      mb 40px
      transition .7s color
    &-date
      color alpha($dark, .5)
      fontify 14px 400 24px
      mt 25px
    &-color
      pos fixed
      z-index -2
      bgc $blue
      l 0
      r 0
      t 0
      h 0
      opacity 0
      transition .7s opacity, .7s height
    &-big
      pos fixed
      z-index -1
      opacity .5
      t 0
      r 0
      l 0
      h 0
      background-size cover
      background-repeat no-repeat
      background-position center
      opacity 0
      transition .7s opacity, .7s height
    &-tonext
      size 0
      opacity 0
      visibility hidden
      white-space nowrap
      pos absolute
      t calc(100vh - 95px)
      r 100px
      color white
      fontify 13px 600 13px
      text-transform uppercase
      transform rotate(-90deg)
      transform-origin 100% 0
      transition .7s visibilty, .7s opacity
      @media $desktopMedium
        r 58px
      @media $LandscapeMedium
        dn()
      &:before
        content ""
        size 8px 34px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAiCAMAAABV5mjpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAtFBMVEX////1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///94Y1dLAAAAOnRSTlMAAAECBAYHCwoRGRoiJC0uPD1LTF1eboCBj5Kfrb3HydHS7evy9fj3+fv6/P3nTv7mW/Q3cepzh6Cd6aRfgwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAQoLLA1FDPKqAAAAkElEQVQY0z3LxxKCUBQD0BuKir1iAaygqAgCIvr+/8P0ORmzyJxFIiKAAdGB+YdJWBZhN4hmi3Acot0huj2iPyCGI2I8IaYzwnWJ+YJYrgjPI3yfCAINAOvNtzS2O2J/IMKQiCLieCLimDhfiGuiYQPJF7bcUmQZ0rvkRamyssgFj0qp6qnHtVL172W83gbwAWSECuhANm/TAAAAAElFTkSuQmCC') no-repeat center
        pos absolute
        l -30px
        t -10px
        filter brightness(0%) invert(1)
        transform rotate(90deg)
        animation arrow 1s ease-in-out infinite
  &_other
    mt 74px
  &__dec1
    l 828px
    t 420px
  &__dec2
    l -60px
    b 240px
  &__dec3
    l 492px
    t 17px
  .decor
    filter brightness(0%)
  &__more
    &-over
      text-align center
      mt 20px
      @media $LandscapeMax
        mt 45px
    &-href
      c $dark
      fontify 15px 600 18px
      border-bottom 2px dotted $orange
      transition .7s border
      &:hover
        border-color transparent

body.index .news
  bgc $cream

@media $LandscapeMinFrom
  body.news 
    .news__elem-tonext
      visibility visible
      opacity 1
    .news__elem-color
      opacity 1
      h 100%
    .news__elem-big
      opacity .5
      h 100%
    .news__elem-title,
    .news__elem-subtitle
      color white