.news
  pos relative
  &_main
    pt 81px
    pb 54px
    @media $LandscapeMax
      pt 60px
  .container
    pos relative
  &__title
    color $dark
    fontify 60px 600 52px
    mb 32px
    ml -2px
    @media $LandscapeMax
      fontify 50px 600 52px
    @media $LandscapeMedium
      fontify 30px 600 32px
  &__list
    df()
    flex-wrap wrap
    ml -30px
    w calc(100% + 30px)
  &__item
    pos relative
    w calc(100% / 3 - 30px)
    ml 30px
    mb 30px
    overflow hidden
    @media $LandscapeMax
      w calc(100% - 30px)
    @media $LandscapeMax
      mb 0
      & + &
        mt 50px
    &_large
      @media $LandscapeMaxFrom
        w 100%
        h 390px
        df(center, flex-start)
        & ^[0]__imgover
          pos absolute
          r 0
          t 0
          w 57%
        & ^[0]__href
          fontify 36px 600 46px
        & ^[0]__content
          w 43%
          pr 30px
          mt 0
  &__imgover
    db()
    w 100%
    pt 51%
    overflow hidden
    pos relative
    bgc #f3e7d5
    &_empty:before
      content ""
      pos absolute
      l 0
      t 0
      r 0
      b 0
      background url('../i/news-def.png') no-repeat center
      opacity .09
  &__img
    pos absolute
    l 0
    t 0
    size 100%
    object-fit cover
    font-family 'object-fit: cover;'
    transition .7s transform
    will-change transform
    -webkit-backface-visibility hidden
    transform scale(1.017) translateZ(0)
  &__item:hover &__img
    transform scale(1) translateZ(0)
  &__content
    pos relative
    z-index 1
    max-width 80%
    mt 20px
    @media $LandscapeMax
      mt 15px
  &__date
    c alpha($dark, .5)
    fontify 14px 400 24px
    mb 8px
    @media $LandscapeMax
      mb 4px
      fontify 13px 400 22px
  &__href
    c $dark
    fontify 19px 600 29px
    border-bottom 2px solid $orange
    transition .7s border, .7s color
    @media $LandscapeMax
      fontify 17px 600 26px
    &:hover
      color $orange
      border-color transparent
    & > span
      pos relative
      t 2px
  &__about
    c $dark
    fontify 16px 400 24px
    mt 25px
    @media $LandscapeMax
      dn()
  &__toall
    pos absolute
    r 86px
    t 30px
    @media $desktopMedium
      r 47px
    @media $LandscapeMax
      t 26px
    @media $LandscapeMedium
      pos relative
      r auto
      t 0
      mt 50px
  &__dec1
    l 828px
    t 420px
  &__dec2
    l -60px
    b 240px
  &__dec3
    l 492px
    t 17px
  .decor
    filter brightness(0%)
  &__more
    &-over
      text-align center
      mt 20px
      @media $LandscapeMax
        mt 60px
    &-href
      c $dark
      fontify 15px 600 18px
      border-bottom 1px dotted $orange
      transition .7s border
      &:hover
        border-color transparent

body.index .news
  bgc $cream