.news
  pos relative
  background-color #34241e
  pt 101px
  pb 70px
  @media $desktopMax
    pt 76px
  @media $LandscapeMax
    pt 60px
  .container
    pos relative
  &__title
    font-family $cyr
    color $orange
    fontify 72px 400 52px
    mb 40px
    @media $desktopMax
      fontify 60px 400 52px
      mb 37px
    @media $LandscapeMax
      fontify 40px 400 44px
    @media $PortraitMax
      fontify 30px 400 32px
  &__list
    df()
    flex-wrap wrap
    ml -36px
    w calc(100% + 36px)
  &__item
    pos relative
    df(center)
    w calc(50% - 36px)
    h 254px
    ml 36px
    mb 36px
    overflow hidden
    @media $desktopMax
      ml 30px
      mb 30px
      w calc(50% - 30px)
      h 224px
    @media $LandscapeMax
      w calc(100% - 30px)
    &_large
      @media $LandscapeMaxFrom
        w 100%
        h 530px
        @media $desktopMax
          h 467px
        & ^[0]__href
          fontify 42px 600 50px
          @media $desktopMax
            fontify 36px 600 46px
        & ^[0]__content
          max-width 40%
          @media $desktopMin
            max-width 60%
  &__imgover
    db()
    pos absolute
    t 0
    r 0
    w 65%
    h 100%
    overflow hidden
    bgc #1e1e1c
    @media $PortraitMax
      w 80%
  &__img
    pos absolute
    l 0
    t 0
    r 0
    b 0
    opacity .5
    object-fit contain
    font-family 'object-fit: contain;'
    transition .7s opacity
  &__item:hover &__img
      opacity .8
  &__content
    pos relative
    z-index 1
    max-width 60%
    @media $PortraitMax
      max-width 80%
  &__date
    c alpha(white, .5)
    fontify 16px 400 24px
    mb 6px
    @media $desktopMax
      fontify 14px 400 24px
  &__href
    c white
    fontify 21px 600 31px
    border-bottom 2px solid $orange
    transition .7s border, .7s color
    @media $desktopMax
      fontify 19px 600 29px
    &:hover
      color $orange
      border-color transparent
    & > span
      pos relative
      t 2px
  &__about
    c white
    fontify 18px 400 26px
    mt 25px
    @media $desktopMax
      fontify 16px 400 24px
    @media $LandscapeMax
      dn()
  &__toall
    pos absolute
    r 0
    t 30px
    @media $desktopMax
      t 26px
    @media $LandscapeMax
      t 17px
    @media $LandscapeMin
      pos relative
      r auto
      t 0
      mt 30px
  &__dec1
    l 351px
    t -30px
  &__dec2
    l 818px
    b 250px
  &__dec3
    l 38px
    b -25px