.products
  pos relative
  z-index 2
  background-position 0 120px
  background-repeat no-repeat
  overflow hidden
  background-color $cream
  background-size cover
  @media $desktopMedium
    background-position 0 230px
  @media $LandscapeMedium
    background-image none !important
  .container
    pt 76px
    pos relative
    @media $desktopMedium
      pb 50px
    @media $LandscapeMedium
      pt 50px
  &__title
    color $dark
    fontify 50px 600 52px
    mb 31px
    ml -2px
    @media $LandscapeMedium
      fontify 30px 600 32px
  &__tabs
    df()
    flex-wrap wrap
    @media $PortraitMedium
      dfv()
  &__tab
    cursor pointer
    pos relative
    color $dark
    fontify 15px 600 21px
    border-bottom 2px dotted $orange
    transition .7s border, .7s padding-left
    @media $desktopMax
      fontify 14px 600 21px
    &:before
      content "/"
      pos absolute
      l 0
      t 0
      fontify 15px 600 21px
      color $dark
      opacity 0
      @media $desktopMax
        fontify 14px 600 21px
    &:hover
      border-color transparent
    &.active
      border-bottom transparent
      pl 18px
      &:before
        opacity 1
        transition-delay .7s
    & + &
      ml 28px
      @media $PortraitMedium
        ml 0
        mt 10px
  &__blocks
    mt 40px
    overflow hidden
  &__block:not(.active)
    dn()
  &__block
    w calc(100% + 1px)
  &__car
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled
      opacity 0
      transition 0s opacity
      @media $LandscapeMax
        transition .7s opacity
    .swiper-button-prev
      @media $LandscapeMax
        l 15px
    .swiper-button-next
      @media $LandscapeMax
        r 15px
    .swiper-slide
      df()
      padding 93px 40px 56px
      border-top 1px solid rgba(77, 77, 77, 0.06)
      border-right 1px solid rgba(77, 77, 77, 0.06)
      @media $desktopMax
        pl 49px
        pr 49px
      @media $desktopMin
        pl 35px
        pr 35px
      @media $LandscapeMax
        w 45vw
      @media $LandscapeMedium
        w 70vw
        border-bottom 1px solid rgba(77, 77, 77, 0.06)
      @media $PortraitMax
        w 75vw
      @media $PortraitMedium
        w 82vw
      @media $PortraitMin
        w 90vw
      &:hover
        & ^[0]__img
          transform rotate3d(0, 0, 0, 15deg)
  &__content
    w 200px
    pr 20px
    @media $desktopMax
      w 170px
  &__imgover
    w calc(100% - 200px)
    text-align center
    mt -68px
    @media $desktopMax
      w calc(100% - 170px)
      mt -70px
    @media $PortraitMax
      mt -20px
  &__img
    ib()
    max-width 100%
    transform rotate3d(0, 0, 1, 15deg)
    transform-origin center
    will-change transform
    transition .7s transform
  &__name
    color $dark
    fontify 19px 600 24px
    border-bottom 2px solid $orange
    transition .7s color, .7s border
    @media $desktopMin
      fontify 17px 600 22px
    @media $LandscapeMax
      fontify 15px 600 22px
    &:hover
      border-color transparent
      color $orange
  &__dsc
    color $dark
    fontify 16px 400 24px
    mt 20px
    @media $LandscapeMax
      fontify 14px 400 24px
  &__toall
    pos absolute
    r 88px
    t 157px
    @media $desktopMedium
      r 47px
    @media $LandscapeMedium
      pos relative
      r auto
      t 0
      mt 30px
  &__dec1
    r 198px
    t -77px
  &__dec2
    r 581px
    t 330px
    @media $desktopMedium
      dn()
  .decor
    filter brightness(0%)

  &_combine
    padding 0
    background-color #2b284c
    .products
      &__top
        padding 22px 29px 24px
        border-bottom 1px solid rgba(#fff, .05)

      &__title
        color #fff
        margin 0
        font-size 34px
        line-height 36px

        @media $LandscapeMedium
          font-size 30px
          font-weight 600
          line-height 32px

      &__car
        .swiper-slide
          flex-direction column
          padding 24px 31px 58px
          border-right 1px solid rgba(#fff, .05)

      &__imgover
        margin -5px 0 0 calc(100% - 260px)
        width 239px
        height 193px

        @media $PortraitMax
          margin-left 0
          margin-top 25px

      &__name
        color white
        font-size 17px
        line-height 22px

      &__dsc
        color white
        font-size 14px
        line-height 22px
        margin-top 11px

    .markers__item
      height auto
      color white
      font-size 14px
      line-height 14px
      font-weight 400
      padding 4px 8px

      &_yellow
        font-weight 600
        color #171717


