.video
  bgc $blue
  dfv(flex-start, center)
  max-height 750px
  pos relative
  z-index 1
  h 100vh
  @media $desktopMax
    max-height 730px
  @media $LandscapeMax
    pt 80px
    pb 100px
    max-height none
    justify-content flex-start
    height auto
  @media $LandscapeMin
    pt 60px
    pb 60px
  &__bg
    pos absolute
    l 0
    t 0
    r 0
    b 0
    z-index -1
    opacity .65
    background-repeat no-repeat
    background-position left center
    background-size cover
    background-attachment fixed

    @media $desktopMedium
      background-position left -500px center

    @media $LandscapeMedium
      background-position center

    @supports (-webkit-overflow-scrolling: touch)
      background-attachment unset

  &__title
    font-family $cyr
    color white
    fontify 80px 400 80px
    margin 0 auto
    max-width 1040px
    transform rotate(-4deg)
    @media $desktopMin
      max-width none
    @media $LandscapeMax
      fontify 64px 400 60px
    @media $LandscapeMin
      fontify 42px 400 46px
      transform none
  &__href
    pos absolute
    r 216px
    b -156px
    color white
    fontify 15px 600 24px
    border-bottom 2px dotted $orange
    transition .7s border
    @media $LandscapeMax
      pos relative
      r auto
      b auto
      mt 80px
      ib()
    @media $LandscapeMin
      mt 50px
    &:hover
      border-color transparent
    &:after
      content ""
      pos absolute
      l -11px
      t 8px
      size 6px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAMAAADtGH4KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAPFBMVEX1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///+NNenzAAAAEnRSTlMA0TH6fgTLKvdz9WzGJfh3AywziBNfAAAAAWJLR0QTDLtclgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAC5JREFUCNdjYGRiAAEhZhZWECUkxMYOpoQ4OMEUFzeI4uEFCvLxCwCVsAmC1AMALcMBwHP7aocAAAAASUVORK5CYII=') no-repeat center
      @media $LandscapeMedium
        dn()