html,
body
  font-family $os
  min-height 100vh

body
  overflow-x hidden
  &:not(.pace-done)
    overflow hidden
  &
    .header,
    .content,
    .footer
      opacity 0
      transition .7s opacity
    .content
      z-index -5
      pos relative
      transition-delay 0.3s
    .header,
    .footer
      transition-delay 0.8s
  &.pace-done
    .header,
    .content,
    .footer
      opacity 1
    .content
      z-index 1

.container
  w 100%
  max-width 1440px
  padding 0 87px
  margin 0 auto
  pos relative
  z-index 1
  @media $lDesktopSmall
    max-width 100%
  @media $desktopMedium
    max-width 100%
    padding 0 47px
  @media $LandscapeMedium
    padding 0 20px

body.index
  .container
    @media $lDesktopSmall
      max-width calc(100% - 100px)

.index .content
  pt 0
  bgc $blue

.content
  bgc $cream
  &_confirm-age
    height calc(100vh - 131px)
    min-height 600px
    @media (max-width: 785px)
      height calc(100vh - 130px)
      min-height 400px
    @media $PortraitMedium
      height calc(100vh - 175px)
      min-height 400px
  &_catalog
    .common__title
      max-width 50%
  &_contacts
    .content__bg
      background-position left 945px
      background-size cover
      background-repeat no-repeat
      @media $LandscapeMedium
        background-position center 1110px
    .decor_type10
      width 216px
      height 246px
      transform rotate(-31deg)
      background-size contain
      left calc(50% + 183px)
      top 6%
  &__bg
    pb 96px
    pt 217px
    background-position bottom -630px center
    background-repeat no-repeat
    @media $LandscapeMedium
      pt 180px
    &_partners
      pb 270px
      @media $LandscapeMax
        pb 120px
    &:not(&_partners)
      min-height calc(100vh - 131px)
      @media $LandscapeMedium
        pt 180px
      @media $LandscapeMin
        min-height calc(100vh - 148px)
      @media $PortraitMedium
        min-height calc(100vh - 175px)
  &__video
    position fixed
    z-index -1
    t 50%
    l 50%
    min-height 100%
    min-width 100%
    transform translate(-50%, -50%)
    opacity .7
  h1:not([class])
    fontify 50px 600 55px
    margin 63px 0 26px
    @media $LandscapeMedium
      fontify 30px 600 32px
  h2:not([class])
    fontify 36px 600 46px
    margin 43px 0 26px
    @media $LandscapeMedium
      fontify 26px 600 28px
  h3:not([class]),
  h4:not([class])
    fontify 19px 600 24px
    margin 60px 0 31px
  img:not([class])
    margin 15px 0
    max-width 100%
  ul:not([class])
    list-style  none
    margin 18px 0
  ul:not([class]) li
    pl 21px
    pos relative
    fontify 15px 400 25px
  ul:not([class]) li + li
    mt 14px
  ul:not([class]) li:before
    content ""
    pos absolute
    l 0
    t 12px
    size 10px 1px
    bgc $orange
  ol:not([class])
    list-style none
    margin 18px 0
    counter-reset myCounter
  ol:not([class]) li
    pl 26px
    pos relative
    fontify 15px 400 25px
  ol:not([class]) li + li
    mt 13px
  ol:not([class]) li:before
    counter-increment myCounter
    content counter(myCounter)"."
    pos absolute
    l 0
    t 0
    w 30px
    pr 9px
    color $dark
    fontify 15px 400 25px
  p:not([class])
    margin 18px 0
    fontify 16px 300 24px
    @media $LandscapeMax
      fontify 14px 300 24px
  a:not([class])
    color inherit
    border-bottom 2px solid $orange
    transition .5s border
    &:hover
      border-color transparent

  *:not([class]):not(span):first-child
    mt 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    ml -2px
  table th
    text-align left
    padding 16px 19px
    color $dark
    fontify 15px 400 21px
    border 2px solid #fff9f0
    bgc $orange
  table td
    padding 18px 19px
    color white
    fontify 15px 400 21px
    border 2px solid #fff9f0
    bgc $blue

  &__dec1
    filter brightness(0%)
    l calc(50% - 32px)
    t -4%
    z-index -1
  &__dec2
    filter brightness(0%)
    l -54px
    t 31%
    transform scale(.8) rotate(-38deg)
    z-index -1
  &__dec3
    filter brightness(0%)
    r 35%
    t 58%
    transform scaleX(-1)
    z-index -1
  &__dec4
    z-index -3
    filter brightness(0%)
    l -100px
    t 45%
    transform rotate(-130deg)
    z-index -1
    @media $desktopMedium
      l -130px
  &__dec5
    z-index -3
    filter brightness(0%)
    r -70px
    t 35%
    z-index -1
  &__dec6
    filter brightness(0%)
    r 87px
    t 35%
    z-index -1
  &__dec7
    filter brightness(0%)
    r 30%
    t -300px
    transform scale(.8) rotate(20deg)
    z-index -1
  &__dec8
    filter brightness(0%)
    r 53px
    t 9%
    z-index -1
  &__dec9
    filter brightness(0%)
    l 8px
    t 58%
    z-index -1
  &__dec10
    filter brightness(0%)
    r 57px
    t 57%
    transform rotate(100deg)
    z-index -1
  &__dec11
    filter brightness(0%)
    r 33%
    t -70px
    z-index -1
  &__dec12
    filter brightness(0%)
    r -33px
    t 30%
    transform rotate(-130deg)
    z-index -1
  &__dec13
    filter brightness(0%)
    l -96px
    t 49%
    transform rotate(100deg)
    z-index -1

input::-webkit-input-placeholder
  color alpha(white, .5)
input::-moz-placeholder
  color alpha(white, .5)
input:-ms-input-placeholder
  color alpha(white, .5)

div[class\^="table-scroller"]
  overflow auto
  pos relative
  margin 31px 0
  @media $desktopMax
    w 100%

.btn
  ib()
  bgc $orange
  border 0
  border-radius 18px
  font-family $os
  color $dark
  outline none
  cursor pointer
  fontify 13px 600 36px
  padding 0 30px
  transition .7s background, .7s color
  &:hover
    bgc $blue
    color white

.common
  &__title
    fontify 50px 600 52px
    color #3c3c3c
    mb 52px
    ml -3px
    &_wfilter
      ib()
      @media $LandscapeMedium
        db()
    @media $LandscapeMedium
      fontify 30px 600 32px
      ml -2px
  &__pad
    pl 87px
    pr 87px
    @media $desktopMedium
      pl 47px
      pr 47px
    @media $LandscapeMedium
      pl 20px
      pr 20px
  &__href
    pos relative
    ib()
    mr 21px
    color $dark
    fontify 15px 600 24px
    border-bottom 2px solid $orange
    transition .7s border
    @media $desktopMax
      fontify 14px 600 24px
    &_white
      color white
    &:before
      content ""
      pos absolute
      r -22px
      t 10px
      size 13px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAMAAAAV+IX9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEX1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///+xruWAAAAAFHRSTlMAB+dYTvVxOe2MAXeIsKGgi3DpV0vj5YcAAAABYktHRBXl2PmjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAMklEQVQI12NggABGJmYGJMDCyobMZefg5GLg5oEBXhE+FB4/skoBLiRTBBEyjELCQBIAYTYB7jAzUy4AAAAASUVORK5CYII=') no-repeat center
      transition .7s right
    &:hover
      border-color transparent
  &__input
    w 100%
    h 38px
    border 0
    border-bottom 2px solid white
    bgc transparent
    color white
    font-size 14px
    font-family $os
    line-height 400
    transition .5s border
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      fontify 11px 400 11px
      t -12px
    &.warning + ^[0]__placeholder
      color alpha(#e93232, .5)
  &__textarea
    w 100%
    h 188px
    overflow hidden
    resize none
    padding 5px 0
    border 0
    border-bottom 2px solid #ececec
    bgc transparent
    color white
    font-size 14px
    font-family $os
    transition .5s border
    @media $PortraitMax
      h 100px
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      fontify 11px 400 11px
      t -12px
    &.warning + ^[0]__placeholder
      color alpha(#e93232, .5)
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color #e93232
  &__placeholder
    pos absolute
    z-index -1
    l 0
    t 0
    color alpha(white, .5)
    fontify 14px 400 36px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    max-width 100%
    transition .7s top, .7s font-size
    @media $desktopMax
      font-size 14px
  &__col
    pos relative
    w calc(50% - 18px)
    @media $desktopMax
      w calc(50% - 15px)
    @media $PortraitMax
      w 100%
      & + &
        mt 30px
  &__row
    display flex
    justify-content space-between
    align-items flex-start
    pos relative
    z-index 1
    w 100%
    &_z
      z-index 2
    @media $PortraitMax
      flex-direction column
    & + &
      mt 37px
      @media $PortraitMax
        mt 30px
  &__back
    ib()
    pos relative
    mt 28px
    ml 20px
    mb 28px
    color $dark
    fontify 16px 400 20px
    border-bottom 2px solid $orange
    transition .7s border
    @media $LandscapeMax
      mt 50px
    &:hover
      border-color transparent
    &:before
      content ""
      pos absolute
      l -33px
      t 6px
      size 13px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAMAAAAV+IX9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAP1BMVEX1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///8AU9tkAAAAE3RSTlMAV+cHcPVOAYvtOaCwiHV3OvTqgGJyUgAAAAFiS0dEFJLfyTUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARINIh+5Fq2uAAAANElEQVQI12NgYGBgZGJmgAMWVjY4m52Dkwshwy3MwwsDfCg8fpBKAQYkwCLIhsxlFILZAABokQHsQ7L58gAAAABJRU5ErkJggg==') no-repeat center

.fakecheckbox
  ib()
  pos relative
  &__label
    ib()
    color white
    fontify 14px 400 24px
    pos relative
    pl 29px
    pt 7px
    &:before
      content ""
      pos absolute
      l 0px
      t 8px
      size 16px
      border 2px solid #ececec
      cursor pointer
      transition .5s border
    &:after
      content ""
      pos absolute
      size 14px 10px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAMAAACzB5/1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEX1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf1wBf///9VZZhsAAAALXRSTlMALuJ2M+3JO/DIEARB88INgegqSPW6CsfpT/m0CBLOK1f6rQYT9PylA5zNkgG9unuLAAAAAWJLR0QuVNMQhwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAGBJREFUCNdjYEAARiZmJB4Lqy4bgsfOocvJxcDADeHx8Ory8TMwCAgKgXjCIrqiYkBaXFcCyJeU0pWWAQnLyulKyCso6iopQzSpyOmqqumqa8CMBPJ1NTUQVqhoaetAmQB96QbRfGlx9AAAAABJRU5ErkJggg==') no-repeat center
      l 4px
      t 14px
      opacity 0
      cursor pointer
      transition .5s opacity
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before
      border-color #e93232

.text
  c $dark
  max-width 80%
  mt -8px
  @media $LandscapeMax
    max-width none
  &_news
    pos relative
    b 0
    opacity 1
    transition .7s opacity, .7s bottom

@media $LandscapeMinFrom
  body.news .text_news
    b -20px
    opacity 0

.totop
  pos fixed
  z-index 5
  b 10%
  r 0
  border-top-left-radius 18px
  border-bottom-left-radius 18px
  cursor pointer
  size 34px
  visibility hidden
  opacity 0
  background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAMAAADNLv/0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS3////iGQ/yAAAAFHRSTlMAE8wQzQ/KrckNxbIGs7q2t9C0CXxR/yQAAAABYktHRBXl2PmjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAO0lEQVQI1x3KSRKAIBTFwDCJwBcF3v3PakFWvQiA895xClGKYStdyll3glLVzB7VQtdrYJ86Y669rTl+L5cB8NM5Qx4AAAAASUVORK5CYII=') no-repeat 16px center $orange
  transition .5s visible, .5s opacity
  @media $LandscapeMax
    dn()
  &.visible
    visibility visible
    opacity 1

.breadcrumbs
  color #4f4f4f
  mb 18px
  &__href
    color inherit
    fontify 14px 400 18px
    border-bottom 1px solid currentColor
    transition .5s border
    &:hover
      border-color transparent
  &__delim
    padding 0 5px
    fontify 14px 400 18px

@media $LandscapeMinFrom
  body.news .breadcrumbs
    color white

.bgfixed
  background-position center
  background-attachment fixed
  background-size cover

input.warning,
textarea.warning
  border-color #e93232

.hidden-block
  display none

.decor
  pos absolute
  opacity .2
  background-position center
  background-repeat no-repeat
  @media $LandscapeMax
    dn()
  &_type1
    size 225px 228px
    background-image url('../i/dec1.png')
  &_type2
    size 159px 98px
    background-image url('../i/dec2.png')
  &_type3
    size 182px 338px
    background-image url('../i/dec3.png')
  &_type4
    size 281px 300px
    background-image url('../i/dec4.png')
  &_type5
    size 99px 152px
    background-image url('../i/dec5.png')
  &_type6
    size 237px 284px
    background-image url('../i/dec6.png')
  &_type7
    size 188px 254px
    background-image url('../i/dec7.png')
  &_type8
    opacity .04
    size 344px 196px
    background-image url('../i/dec8.png')
  &_type9
    size 245px 230px
    background-image url('../i/dec9.png')
  &_type10
    size 233px 269px
    background-image url('../i/dec10.png')
  &_type11
    size 200px 282px
    background-image url('../i/dec11.png')
  &_type12
    size 364px 258px
    background-image url('../i/dec12.png')

