/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 2px; 
    top: 25px;
    background-color: #30302f;
}
    .irs-line-left {
        height: 2px;
    }
    .irs-line-mid {
        height: 2px;
    }
    .irs-line-right {
        height: 2px;
    }

.irs-bar {
  height: 2px; 
  top: 25px;
  background-color: #e76f17;
}
    .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}

.irs-slider {
    width: 16px; height: 18px;
    top: 22px;
}
.irs-min, .irs-max {
    display: none;
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
  color #0e0e0e
  font-family "Open Sans"
  font-size 14px
  font-weight 400
  line-height 23px
  bottom -16px
  top auto
  cursor pointer
}
.irs-from:after, .irs-to:after, .irs-single:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #e76f17;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  top: -15px;
  left: 50%;
  margin-left: -9px;
  cursor pointer
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}
