$os = "Montserrat"
$cyr = "Jikharev"

$orange = #f5c017
$dark = #3c3c3c
$brown = #35241D
$cream = #fff9f0
$blue = #2b284c

$print = 'print'

$Mobile = '(max-width:340px)'

$PortraitMin = '(max-width:350px)'
$PortraitMedium = '(max-width:400px)'
$PortraitMax = '(max-width:450px)'

$LandscapeMin = '(max-width:550px)'
$LandscapeMinFrom = '(min-width:551px)'
$LandscapeMedium = '(max-width:700px)'
$LandscapeMax = '(max-width:1000px)'
$LandscapeMaxFrom = '(min-width:1001px)'

$desktopMin = '(max-width:1130px)'
$desktopMedium = '(max-width:1300px)'
$desktopMax = '(max-width:1400px)'

$lDesktopSmall = '(max-width:1540px)'
$lDesktopMedium = '(max-width:1640px)'
$lDesktopMax = '(max-width:1900px)'

imgCentering()
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%) scale(1)
  transition 1s transform
  will-change transform
  
imgCenteringMax90()
  position absolute
  left 50%
  top 50%
  max-width 90%
  max-height 90%
  transform translate(-50%, -50%) scale(1)
  transition 1s transform
  will-change transform
  
imgCenteringMax100()
  position absolute
  left 50%
  top 50%
  max-width 100%
  max-height 100%
  transform translate(-50%, -50%) scale(1)
  transition 1s transform
  will-change transform

imgCenteringMin()
  position absolute
  left 50%
  top 50%
  min-height 100%
  min-width 100%
  transform translate(-50%, -50%) scale(1)
  will-change transform
  
imgCenteringZoom()
  transform translate(-50%, -50%) scale(1.02)
  
size($w, $h = $w)
  width $w
  height $h
  
ib($align = top)
  display inline-block
  vertical-align $align
  
fontify($fs, $fw, $lh)
  font-size $fs
  font-weight $fw
  line-height $lh
  
w($val)
  width $val

h($val)
  height $val
  
t($val)
  top $val
  
r($val)
  right $val
  
l($val)
  left $val
  
b($val)
  bottom $val

bgc($val)
  background-color $val
  
dn()
  display none
  
db()
  display block
  
df($at = flex-start, $jc = flex-start)
  display flex
  align-items $at
  justify-content $jc
  
dfv($at = flex-start, $jc = flex-start)
  display flex
  flex-direction column
  align-items $at
  justify-content $jc
  
pos($val)
  position $val
  
mr($val)
  margin-right $val

mt($val)
  margin-top $val

ml($val)
  margin-left $val
  
mb($val)
  margin-bottom $val
  
pr($val)
  padding-right $val

pt($val)
  padding-top $val

pl($val)
  padding-left $val
  
pb($val)
  padding-bottom $val
  
c($val)
  color $val