@import "__vars.styl"

@import "__reset.styl"
@import "__fonts.styl"
@import "__common.styl"

@import "__fancy.styl"
@import "__swiper.styl"
@import "__perfect-scrollbar.styl"
@import "__sumoselect.styl"

@import "blocks/header.styl"
@import "blocks/nav.styl"
@import "blocks/menu.styl"
@import "blocks/footer.styl"
@import "blocks/pagination.styl"

@import "blocks/index.styl"
@import "blocks/products.styl"
@import "blocks/about.styl"
@import "blocks/video.styl"
@import "blocks/news.styl"
@import "blocks/feedback.styl"
@import "blocks/reviews.styl"

@import "blocks/markers.styl"
@import "blocks/catalog.styl"
@import "blocks/publ.styl"
@import "blocks/contacts.styl"
